$hoverDarkenAmount: 10%;

.btn {
  display: table;
  font-family: $font-body;
  text-decoration: none;
  padding: $padding-m $padding-xl;
  border: none;
  border-radius: $rounding-s;
  background-color: $color-grey-dark;
  color: $color-white;
  margin: $margin-s;
  transition: background 1.3s;
  cursor: pointer;
  font-size: 1em;
  @include shadow(1.5rem);
  &:hover {
    color: $color-white;
  }
  &--primary {
    @include linear-gradient($color-primary);
    @include shadow(1rem, $color-primary, .5);
    &:hover {
      @include linear-gradient(darken($color-primary, $hoverDarkenAmount));
    }
  }
  &--secondary {
    @include linear-gradient($color-secondary);
    @include shadow(1rem, $color-secondary, .5);
    &:hover {
      @include linear-gradient(darken($color-secondary, $hoverDarkenAmount));
    }
  }
  &--tertiary {
    @include linear-gradient($color-tertiary);
    @include shadow(1rem, $color-tertiary, .5);
    &:hover {
      @include linear-gradient(darken($color-tertiary, $hoverDarkenAmount));
    }
  }
}
